.news {
  background: #e9f7fe;
  padding: 130px 0px;
  &__cards {
    h1 {
      font-size: 58px;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    &__card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 36px;
      padding: 33px;
      background: white;
      img {
        width: 116px;
        object-fit: cover;
      }
      &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        h3 {
          display: -webkit-box;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        .price {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }
    button {
      background: transparent;
      border: none;
      font-size: 18px;
    }
  }
}

@media (max-width: 880px) {
  .news {
    padding: 100px 0px;
    &__cards {
      h1 {
        font-size: 40px;
      }
      
      gap: 15px;
    }
  }
}

@media (max-width: 880px) {
  .news {
    padding: 100px 0px;
    &__cards {
      grid-template-columns: 1fr;
      h1 {
        font-size: 40px;
      }
      
      gap: 15px;
      &__card{
        img{
          width: 30%;
        }
      }
    }
  }
}
